* {
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.list {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 1280px;
    text-align: center;
    list-style-type: none;
}
.list-item {
    display: inline;
}
.link {
    margin: 10px;
    padding: 16px;
    color: #16a085;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
}
.img {
    margin: 0;
    padding: 0;
    height:790px;
    width: 1280px;
    display: block;
}
.background {
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 650px;
    text-align: center;
    background: #f5f6f7;
}
.header {
    margin: 0;
    font-size: 22px;
    text-align: center;
    background: #f5f6f7;
    color: rgba(55, 55, 55, 255);
    padding: 59px 317px 34px 352px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
}
.text {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    background: #f5f6f7;
    margin: 0 108px 0 113px;
    color: rgba(55, 55, 55, 255);
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
}
.header + p {
    margin-bottom: 20px;
}
.btn {
    width:195px;
    height:54px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    background: #16a085;
    color: rgba(255, 255, 255, 255);
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
}
.Footer {
    width: 1180px;
    font-size: 1.3rem;
    margin-top: 47px;
    text-align: right;
    color: rgba(55, 55, 55, 255);
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
}